@model IEnumerable<Hastane_projesi.Models.hastalar>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hasta_tc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hasta_adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hasta_adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hasta_cinsiyet)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hasta_tc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hasta_adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hasta_adres)
            </td>
            <td>
                @if (item.hasta_cinsiyet == true)
                {
                    <b>KADIN</b>
                }
                else
                {
                    <b>ERKEK</b>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.hasta_no }) |
                @Html.ActionLink("Details", "Details", new { id=item.hasta_no }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.hasta_no })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
